Q1: Basic Dictionary Creation

In [ ]:
student = {
    "name": "Rabi Khan",
    "age": 20,
    "course": "Python Programming",
    "city": "Karachi"
}

print(student)

:

Q2: Adding and Updating values

In [ ]:
car = {
    "brand": "Toyota",
    "model": "Corolla",
    "year": 2010
}

car["color"] = "White"
car["year"] = 2022

print(car)

Q3: Loop Through Dictionary

In [ ]:
person = {
    "name": "Ali",
    "age": 25,
    "city": "Karachi"
}

for key, value in person.items():
    print(f"{key} -> {value}")

Q4: Count frequency of Numbers

In [ ]:
numbers = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

freq = {}

for num in numbers:
    if num in freq:
        freq[num] += 1
    else:
        freq[num] = 1

print(freq)

Q5: Word Counter

In [ ]:
sentence = input("Enter a sentence: ")

words = sentence.lower().split()

freq = {}

for word in words:
    if word in freq:
        freq[word] += 1
    else:
        freq[word] = 1

print("Word frequency: ", freq)

Q6: Student marks and average

In [ ]:
marks = {
    "Math": 80,
    "English": 70,
    "Physics": 90
}

total = 0

for mark in marks:
    total += marks[mark]
    average = total / len(marks)

print("Total marks: ", total)
print("Average marks: ", average)

Q7: Highest scoring student

In [ ]:
students = {
    "Ali": 85,
    "Sara": 92,
    "Ahmed": 78,
    "Zara": 95,
}

highest_marks = 0
top_student = ""

for student, marks in students.items():
    if marks > highest_marks:
        highest_marks = marks
        top_student = student

print(f"Top student: {top_student} with marks: {highest_marks}")

Q8: Merge Dictionaries

In [ ]:
dict1 = {
    "a": 1,
    "b": 2
}

dict2 = {
    "c": 3,
    "d": 4
}

print("Before merging:")
print("Dict1:", dict1)
print("Dict2:", dict2)

print("\nAfter merging:")
print("Merged Dict:", {**dict1, **dict2})

Q9: Mini Project: Contact Book

In [ ]:
contacts = [
    {"name": "Ali", "phone": "1234567890"},
    {"name": "Sara", "phone": "0987654321"},
    {"name": "Ahmed", "phone": "1112223333"}
]

key = input("Enter the name to search: ")
found = False

for contact in contacts:
    if contact["name"] == key:
        print(f"Phone number of {key} -> {contact['phone']}")
        found = True
        break

if not found:
    print(f"{key} not found in contacts.")